body {
    font-family:Arial
}
label {
    font-size: 21px;
    color:slategray;
    width: 145px;
    display: inline-block;
}

textarea {
    font-size: 21px;
}

span {
    font-size: 21px;
    color:darkslateblue;
}