@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Website Home Page";
}

<!--Header with my preferred name-->
<h1>Gavin Ostheimer</h1>

<!--Image import of me at the movies-->
<img src="img/IMG_3440 (1).jpg" width="550" height="400" />

<!--Image description-->
<p>Here's a picture of me at the movies with my wife! We both love going to the movies and even have a movie pass.</p>
<br />

<!--Paragraph on what I want to get out of IS 413-->
<p>I hope to become proficient enough at C# to list it on my resume and pass a code challenge in it if asked. I also want to get better at my use of GitHub.</p>
<br />

<!--List of the top three jobs I want to pursue after graduation-->
<p>The top three jobs I'm interested in pursuing when I graduate are:</p>
<ul>
    <li>1: Full-Stack Software Developer</li>
    <li>2: Back-End Software Developer</li>
    <li>3: Front-End Software Developer</li>
</ul>


